{% extends 'autentication/main_user.html' %}
{% load static %}
{% block content %}

	<title>Prólogos - Reset Password Confirm</title>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<!--Home logo-->
				<div style="margin-bottom: 10%;">
					<a href="/">
						<image src="{% static '/images/icons/logo-red-black.png' %}" class="login-logo">
					</a>
				</div>

				<p class="text-bg-danger">{{ error }}</p>

                <h4>Your password has been successfully recovered</h4>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <a href="{% url 'signin' %}">
                            <button class="login100-form-btn" >
                                Login
                            </button>
                        </a>
                    </div>
                </div> 
				
			</div>
		</div>
	</div>
{% endblock content %}