{% extends 'autentication/main_user.html' %}
{% load static %}
{% block content %}

<title>Prólogos - Reset Password Confirm</title>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<!--Home logo-->
			<div style="margin-bottom: 10%;">
				<a href="/">
					<image src="{% static '/images/icons/logo-red-black.png' %}" class="login-logo">
				</a>
			</div>

			<!-- ======= Exceptions ======= -->
			{% if form.new_password1.errors %}
			<ol>
				{% for error in form.new_password1.errors %}
				<li><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
			{% endif %}
			{% if form.new_password2.errors %}
			<ol>
				{% for error in form.new_password2.errors %}
				<li><strong>{{ error|escape }}</strong></li>
				{% endfor %}
			</ol>
			{% endif %}
			
			<form class="login100-form validate-form" method="POST">
				{% csrf_token %}
				<!--user-->
				<div class="wrap-input100 validate-input" data-validate="Enter data">
					{{ form.new_password1 }}
					<span class="focus-input100"></span>
				</div>
				<!--password-->
				<div class="wrap-input100 validate-input" data-validate="Enter password" style="margin-bottom: 0%;">
					{{ form.new_password2 }}
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Reset Password
						</button>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>
{% endblock content %}