{% extends 'autentication/main_user.html' %}
{% load static %}
{% block content %}
<title>Prólogos - Recover password</title>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<!--Home logo-->
			<div style="margin-bottom: 10%;">
				<a href="/">
					<image src="{% static '/images/icons/logo-red-black.png' %}" class="login-logo">
				</a>
			</div>

			<h5>Enter your email</h5>

			{{ error }}

			<form class="login100-form validate-form" method="POST">
				{% csrf_token %}
				<!--input100-->
				<div class="wrap-input100 validate-input" data-validate="Enter data">
					{{ form.email }}
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Recover password
						</button>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>
{% endblock content %}