{% extends 'autentication/main_user.html' %}
{% load static %}
{% block content %}
<title>Prólogos - Recover password</title>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<!--Home logo-->
			<div style="margin-bottom: 10%;">
				<a href="/">
					<image src="{% static '/images/icons/logo-red-black.png' %}" class="login-logo">
				</a>
			</div>

			<hr>
			<p>We've sent you an email with the step-by-step. Go check it!</p>
			<small>You can now close this page.</small>

		</div>
	</div>
</div>

{% endblock content %}